<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdk.ltgame.ltphone">
    <application>
        <activity
            android:name=".uikit.PhoneActionActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
